{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Les bien a voir</h1>
		<p>dqodzodqzjpdqzopdpojqdoqpzdopqdqzopjdpoqjzdopjqzdqopzjdqopjzdopqdqpodqz</p>
	</div> 
{% endblock %}